@font-face {
    font-family: Fontspring ;
    src: url(Fontspring-DEMO-visbycf-medium.ttf);
}

body {
    font-family: Fontspring ;  
    background-color: #171916;  
    height: 100%;
    overflow: hidden;
}
ul li {
    list-style: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER */ 
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 8vh;
    color: #fff;
    padding: 0 2rem;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-lab {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toggle {
    display: none;

}
.menu-lab li {
    background-color: #86a9758e;
    border-radius: 3px;
    padding: 9px 15px;
    text-align: center;
    
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 650px;
    padding-right: 30px;
    padding-top: 20px;
}
.menu-lab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 650px;
    padding-right: 30px;
    padding-top: 20px;
}


.menu li {
    background-color: #4d534a8e;
    border-radius: 3px;
    padding: 9px 15px;
    text-align: center;


}

.menu-lab li {
    background-color: #05c2c98e;
    border-radius: 3px;
    padding: 9px 15px;
    text-align: center;
    
}

.menu li:hover {
    background-color: rgb(88, 88, 88);
    transform: scale(1.1) ;
    transition: 0.8s;

}
.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
    letter-spacing: 0.145rem;
    text-decoration: none;
    text-transform: uppercase;
    
}
.menu-lab li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
    letter-spacing: 0.145rem;
    text-decoration: none;
    text-transform: uppercase;
    
}
.logo {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu1 {
    display: flex;
    justify-content: space-evenly;
}
.menu1 li {
    margin:10px
}

.menu2 {
    display: flex;
}
.menu2 li {
    margin:10px
}
/* CENTER */
.center {
    position: relative;
    top: 8vh;
}
.container {
    
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}
.container img {
    height:70%;
}

.o-div {
    margin-right: -89px;
    height: 919px;
    margin-top: -40px;
}




.k-div {
    margin-right: -85px;
    height: 650px;
}
.a-div {
    height: 650px;
    margin-top: -6px;
}
.y-div {
    margin-left: -74px;
    height: 639px;
    margin-top: 2px;
}
.vert-div {
    height: 50%;
    margin-left: -128px;
    
}
/* FOOTER */

.footer {

    display: flex;
    justify-content: space-between;
    position: absolute;
    height:200px;
    bottom: 0;
    width: 100%;
    padding: 0px 0px 20px 25px;
}
.footer-text {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
}
.footer-img  {
   
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.footer-img a {
    display: flex;
    justify-content: flex-end;
}
.footer-img a img {
    height: 50%;
    width: 50%;
}

.footer-img img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.lab-center {
    height: 100vh;
    background-position: center;
    background: url(img/3026.jpg);
    background-size: cover;

}


@media all and (max-width:991px) {
   
    .header {
        background: transparent;

    }
    .toggle{
        display: block;
        font-size: 4rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
        padding: 10px;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .ouvrir {
        display: block;
    }
    .fermer {
        display: none;
    }
    .open .ouvrir {
        display: none;
    }
    .open .fermer {
        display: block;
    }
    .hide {
        display: none;
    }
   
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #2c312f;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
    }
    .open .menu {
        transform: translateX(0);
        transition: transform 1s;

    }
    .menu li {
        border-radius: 3px;
    }
    .menu li a {
        font-size: 2rem;
    }
    .menu li img {
        height: 35px;
    }
    .menu-lab {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #2c312f;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
    }
    .open .menu-lab {
        transform: translateX(0);
        transition: transform 1s;

    }
    .menu-lab li {
        border-radius: 3px;
    }
    .menu-lab li a {
        font-size: 2rem;
    }
    .menu-lab li img {
        height: 35px;
    }
    .toggle i {
        padding: 10px 15px 0px 15px;
    }

    .a-div {
        display: none;
    
    }
    .y-div {
        display: none;
    }
   .vert-div {
       margin-top: 48px;
       margin-left: -110px;
   }
   
    .o-div {
        margin-right: -64px;
    height: 100%;
    margin-top: -140px;
 }
 .k-div {
     
    height: 100%;
    margin-right: 26px;
 }
 .container {
    position: relative;
    top: 22vh;
}
.container div img {
    opacity: 1;
}
.logo img {
    height: 150px;
}
.footer {
    position: absolute;
}
.lab-center {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
}